body {
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal-content {
    background-color: rgb(10, 10, 11);
    padding: 100px 40px;
    width: 100%;
    height: 100vh;
    max-height: 100vh;
    overflow-y: auto;
    border: 0;
    border-radius: 0;
    text-align: center;
    background-clip: border-box;
    box-shadow: none;
    position: relative;
    box-sizing: border-box;
}

.modal-content h2 {
    margin-bottom: 15px;
    font-size: 3em;
}

.text-muted {
    color: #512d8f;
}

.modal-content p {
    margin-bottom: 30px;
    line-height: 1.75;
}

.modal-content p.description {
    margin: 20px auto 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-style: italic;
    max-width: 800px;
    max-height: 300px;
    overflow-y: auto;
    padding: 0 20px;
}

.modal-content img {
    margin: 0 auto;
    margin-bottom: 30px;
    max-height: 400px;
    object-fit: contain;
}

.close {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 75px;
    height: 75px;
    background-color: transparent;
    cursor: pointer;
    z-index: 1001;
}

.modal-content .close {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

@media(min-width: 768px){
    section {
        padding: 20px 0;
    }
}
